<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행 할 쿼리 문을 저장하는 파일. 테이블 하나당 한개씩 작성
namespace: 작업하는 테이블들을 구분해주기 위한 식별자 -->
<mapper namespace="board">
<!-- private String num;
	private String pass;
	private String name;
	private String wdate;
	private String title;
	private String content;
	private int count; -->
<!-- 리절트 맵 정의 : select 한 후의 결과 처리를 위해 정의 해 놓음-->
 <resultMap id="BoardResult"  type="Board"/>

  
  <select id="selectAll" resultMap="BoardResult"> <!-- resulttype = "board" 이렇게 써도된다 -->
    select * from board order by num desc
  </select>
  
  <select id="selectOne" parameterType="java.lang.String" resultType = "Board">
  	select * from board where num = #{num}
  </select>
  
  <insert id="insert" parameterType="Board">
  	insert into board values (null, #{pass}, #{name},curdate(), #{title}, #{content},0)
  </insert>
  
  <delete id="delete" parameterType="string">
  	delete from board where num = #{num}
  </delete>
  
  <update id="update" parameterType="Board">
  	update board set title = #{title}, content = #{content} where num = #{num}
  </update>
  
  <select id="findByTitle" parameterType="String" resultMap = "BoardResult">
  	select * from board where title = #{title}
  </select>
  
  <select id="findByName" parameterType="String" resultMap = "BoardResult">
  	select * from board where name = #{name}
  </select>
  
   <select id="findByTitle2" parameterType="String" resultMap = "BoardResult">
   	select * from board where title like concat('%',#{title},'%')
   </select>
 
  
  </mapper>






