<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
<!-- spring bean 설정파일 -->
<!-- contatiner가 읽어다가 필요한 것들 을 만들 때 필요한 정보들이 여기있다. -->

<import resource = "db.xml"></import>
<context:component-scan base-package="com.mybatis.service"/> <!-- @annotiation 붙여놓은 애들이 자동으로 객체가 생겨나게 해주는 부분 -->
<context:component-scan base-package="com.mybatis.dao"/>
<!-- SqlSessionFactory, sqlsession -->
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="ds"/>
	<!-- <property name="configLocation" value="classpath:config/Configuration.xml"/>  -->
	<property name="typeAliasesPackage" value="com.mybatis.vo"></property> 
	<!--  <property name="mapperLocations" value="classpath:config/CustomerMapper.xml"></property>-->
	<property name="mapperLocations">
		<list>
			<value>classpath:mapper/CustomerMapper.xml</value>
		</list>
	</property> 
</bean>
<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
	<constructor-arg ref="sqlSessionFactory"></constructor-arg>
</bean>

<!-- transactionManager 생성 : jdbc직접 사용하거나 mybatis 사용시에 tx 관리자는 datasourcetransactionmanager임
namespace에 추가해야
-->
<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="ds"/>
</bean>
<tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven> <!-- @Transaction 활성화됨 -->

</beans>